@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme inline {
  --color-bgMain: #020617;
  --color-bgSurface: #020617;
  --color-bgSurfaceSoft: #0F172A;
  --color-borderSoft: #1E293B;
  --color-accentPrimary: #2563EB;
  --color-accentSuccess: #22C55E;
  --color-accentDanger: #EF4444;
  --color-accentNeutral: #9CA3AF;
  --color-accentHighlight: #FACC15;
}

body {
  @apply bg-bgMain text-slate-50;
}
